nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
}

.button_logOut {
  background-color: transparent;
}

@media only screen and (min-width: 600px) {
  nav {
    background-color: var(--black);
    justify-content: space-evenly;
  }
}
