main {
   

    height: 100vh;
}
fieldset{
    display: flex;
    flex-direction: column;
}
figure{
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: var(--white);
}
.mainLogin{
    display: flex;
    flex-direction: row-reverse;
}
.containerLoginSection{
    background-color: var(--greenLight);
    width: 50%;
}
.displayFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.image_register{
    background-size: cover;
    width: auto;
}