.mainLogin {
  background-image: url(https://i.ibb.co/2hhgKXF/3094352.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: 4rem;
  justify-content: flex-end;
}
.containerLoginSection {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 600px) {
  .mainLogin {
    background-position: left;
    background-repeat: no-repeat;
    justify-content: center;
  }
  main {
    align-items: center;
  }
  .containerLoginSection {
    margin-bottom: 4rem;
    margin-left: 14rem;
  }
}
