.button_link{
    cursor: pointer;
}
.classLink{
    color: var(--white);
    background-color: transparent;
    border: none;
    padding: 5px;
}
.classButton{
    color: var(--white);
    background-color: var(--blueLight);
    border-radius: 5px;
    border: solid 1px var(--black);
    padding: 5px;
    margin: 4px 30% 0;;
}