fieldset.classFieldset {
  background-color: var(--greenLighter);
}
input.inputRegisterProduct {
    margin: 6px;
    background-color: var(--azure);
    border-radius: 5px;
    border: solid 1px;
    padding: 5px;
}
input.inputRegisterProduct:focus-visible {
    outline-offset: 0px;
    outline-color: var(--coral);
    color: var(--greenDark);
}