li {
  display: flex;
  padding: 5px 10px;

}
li.container_list {
  background-color: var(--greenLight);
  margin: 10px;
  border-radius: 10px;
}
li.container_list:hover {
  background-color: var(--greenLighter);
}
li.container_list:active {
  background-color: var(--greenDark);
}
strong.item_price {
  margin-left: 10px;
  color: var(--greyLight);
}
strong.item_price:hover {
  margin-left: 10px;
}
strong.item_price:active {
  margin-left: 10px;
  color: var(--greyDark);
}
/* a:hover {
  color: var(--greenDarkest);
}

a:active {
  color: var(--greyDark);
} */
