* {
  margin: 0;
  padding: 0;
}
:root {
  --black: #000;
  --white: #fff;
  --blueLight: #047cf8;
  --greenLighter: #01c7ad;
  --greenLight: #009c86;
  --coral: #12fbfffb;
  --grey: #e7dbd6;
  --greyLight: #fbf8f6;
  --greyDark: #a29b99;
  --greyLittle: #ffffff;
  --azure: #f0ffffe0;
  --greenDarkest: #1b3a3c;
  --greenDark: #2e6166;
  --pinkDark: #c3196b;
  --pinkDarkCore: #7e0b42;
}
h1 {
  padding: 10px;
}
a{
  text-decoration: none;
  color: var(--white)
}
section {
  display: flex;
  padding: 1rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--grey);
  border-radius: 10px;
}

input {
  margin: 6px;
  background-color: var(--greyLight);
  border-radius: 5px;
  border: solid 1px;
  padding: 5px;
}
input:focus-visible {
  outline-offset: 0px;
  outline-color: var(--greenDark);
  color: var(--greenDark);
}
main {
  background-color: var(--grey);
}
label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}
