* {
  margin: 0;
  padding: 0;
}
:root {
  --black: #000;
  --white: #fff;
  --blueLighter: #5ca4ed;
  --blueLight: #047cf8;
  --greenLighter: #01c7ad;
  --greenLight: #009c86;
  --coral: #12fbfffb;
  --grey: #e7dbd6;
  --greyLight: #fbf8f6;
  --greyDark: #a29b99;
  --greyLittle: #ffffffc1;
  --azure: #f0ffffe0;
  --greenDarkest: #1b3a3c;
  --greenDark: #2e6166;
  --pinkDark: #c3196b;
  --pinkDarkCore: #7e0b42;
  --red: #ff0000;
  --greenButton: #00b33f;
}
h1 {
  padding: 1em;
  font-size: 1.3em;
  text-align: center;
}
a {
  text-decoration: none;
  /* color: var(--white); */
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--grey);
  border-radius: 10px;
}

input {
  margin: 6px;
  background-color: var(--greyLight);
  border-radius: 5px;
  border: solid 1px;
  padding: 5px;
}
input:focus-visible {
  outline-offset: 0px;
  outline-color: var(--greenDark);
  color: var(--greenDark);
}
main {
  /* background-color: var(--grey); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
html, body {
  overflow-x: hidden;
}
body {
  position: relative;
}
.containerCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}
.h1text_center{
  
  text-align: center;

}
