main {
  
    height: 100vh;
}
fieldset{
    display: flex;
    flex-direction: column;
}
figure{
    width: 50%;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.containerLogin{
    display: flex;
}
.containerLoginSectionLogin{
    background-color: #047cf8;
    width: 50%;
}
.displayFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.image_login{
    background-size: cover;
    width: auto;
}