main {
  align-items: end;
}
.containerLogin {
  background-image: url(https://i.ibb.co/WGPHHBp/3071357.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: inherit;
  justify-content: flex-end;

}
.containerLoginSectionLogin {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 600px) {
  .containerLogin {
    background-position: left;
    background-repeat: no-repeat;
    justify-content: center;
  }
  main {
    align-items: center;
  }
  .containerLoginSectionLogin {
    margin-bottom: 4rem;
    margin-left: 14rem;  }
}
